# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
venv/

# Data
data/
*.parquet
*.delta

# Spark
metastore_db/
spark-warehouse/

# Airflow (futuro)
airflow/
logs/

# Environment files
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db